<h1 id="site-title"><a href="/">{{ site.title }}</a></h1>
<h5>{{ site.subtitle }}</h5>

<ul class="nav nav-list sidebar-nav">
  <li><a href="/">Home</a></li>
  <li><a href=https://github.com/cmcr-class/cmcr-class.github.io/blob/master/syllabus/7450CMCR_SylF16.pdf>Syllabus</a></li>
  <li><a href=https://github.com/cmcr-class/cmcr-class.github.io/tree/master/slides>Slides</a></li>
  <li><a href=https://github.com/cmcr-class/Discussion/issues>Discussion</a></li>
</ul>

<ul class="list-inline">
  <li>
    <a href="mailto:{{site.email}}">
      <i class="fa fa-fw fa-envelope-o"></i>
    </a>
  </li>
  <li> 
    <a href="https://github.com/{{site.github_username}}">
      <i class="fa fa-lg fa-github"></i>
    </a>
  </li>
</ul>

<hr class="hidden-md hidden-lg">
