<h1 id="site-title"><a href="/">{{ site.title }}</a></h1>
<h5>{{ site.subtitle }}</h5>

<ul class="nav nav-list sidebar-nav">
  <li><a href="/">Home</a></li>
  <li><a href="/syllabus">Syllabus</a></li>
  <li><a href="/topics">Topics</a></li>
  <li><a href=https://github.com/fsolt/cmcr_class/issues>Discussion</a></li>
</ul>

<ul class="list-inline">
  <li>
    <a href="mailto:{{site.email}}">
      <i class="fa fa-fw fa-envelope-o"></i>
    </a>
  </li>
  <li> 
    <a href="https://github.com/{{site.github_username}}">
      <i class="fa fa-lg fa-github"></i>
    </a>
  </li>
</ul>

<hr class="hidden-md hidden-lg">
