<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  
  <!-- Redirect
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->  
  <meta http-equiv="Refresh" content="0; URL={{ page.loc }}">
  
  </head>


<body style="background-color: rgb(128, 128, 128);">

<br>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=1915099; var sc_invisible=0; var sc_partition=17; var sc_security="da58688a"; </script>
<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><a href="http://www.statcounter.com/" target="_blank"><img
src="http://c18.statcounter.com/counter.php?sc_project=1915099&amp;java=0&amp;security=da58688a&amp;invisible=0"
alt="website stats" border="0"></a> </noscript>

<!-- End of StatCounter Code -->
</body>
</html>