{{ partial "header.html" . }}

<h2>{{ .Title }}</h2>

<h3>How to . . .</h3>  
  {{ range .Site.Pages }}
    {{ if intersect .Params.tags (slice "sfaq_howto") | len | lt 0 }}

        <h3><a href="{{ .URL }}">{{ .Title }}</a></h3>
      <div class="entry">
        {{ .Content}}
      </div>

    {{ end }}
  {{ end }}
  
<br />
<h3>The SWIID Data</h3>
  {{ range .Site.Pages }}
    {{ if intersect .Params.tags (slice "sfaq_data") | len | lt 0 }}

        <h3><a href="{{ .URL }}">{{ .Title }}</a></h3>
      <div class="entry">
        {{ .Content}}
      </div>

    {{ end }}
  {{ end }}

{{ partial "footer.html" . }}